<ul id="todo-list">
{{#each todo in this itemController="todo"}} {{!-- http://emberjs.com/deprecations/v1.x/#toc_more-consistent-handlebars-scope --}}
	<li {{bind-attr class="todo.model.isCompleted:completed todo.isEditing:editing"}}> {{!-- add the class based on value --}}
	{{#if todo.isEditing}} {{!-- handlebars do not have conditional if/else statements --}}
		{{input type="text" class="edit" value=todo.model.title focus-out="acceptChanges" insert-newline="acceptChanges"}} {{!-- //http://emberjs.com/deprecations/v1.x/#toc_objectcontroller --}}
	{{else}}
		{{input type="checkbox" checked=todo.model.isCompleted class="toggle"}} {{!-- input that updates value --}}
		<label {{action "editTodo" on="doubleClick"}}>{{todo.model.title}}</label>
		<button {{action "removeTodo"}} class="destroy"></button>
	{{/if}}
	</li>
{{/each}}
</ul>