{{input type="text" id="new-todo" placeholder="What do you need to get done?" value=newTitle action="createTodo"}}

<section id="main">
	{{outlet}} {{!-- where the list of todos are returned from the model through the complete/active routes and the todos controller --}}

	<input type="checkbox" id="toggle-all">
</section>

<section id="footer">
	<span id="todo-count">
		<strong>{{remaining}}</strong> {{inflection}} left
	</span>

	<ul id="filters">
		<li>{{#link-to "todos.index" activeClass="selected"}}All{{/link-to}}</li> {{!-- links with specified routes --}}
		<li>{{#link-to "todos.active" activeClass="selected"}}Active{{/link-to}}</li>
		<li>{{#link-to "todos.complete" activeClass="selected"}}Completed{{/link-to}}</li>
	</ul>
	
	{{#if hasCompleted}}
	<button id="clear-completed" {{action "clearCompleted"}}>
		Clear Completed ({{completed}})
	</button>
	{{/if}}
</section>